
.wwebjs_auth/session/Local State
.wwebjs_auth/session/Last Version
.wwebjs_auth/session/Last Browser
.wwebjs_auth/session/GrShaderCache/f_000005
.wwebjs_auth/session/GrShaderCache/data_3
.wwebjs_auth/session/GrShaderCache/data_1
.wwebjs_auth/session/GrShaderCache/data_0
.wwebjs_auth/session/first_party_sets.db
.wwebjs_auth/session/DevToolsActivePort
.wwebjs_auth/session/Default/WebStorage/QuotaManager-journal
.wwebjs_auth/session/Default/Web Data
.wwebjs_auth/session/Default/Visited Links
.wwebjs_auth/session/Default/Sync Data/LevelDB/LOG.old
.wwebjs_auth/session/Default/Sync Data/LevelDB/LOG
.wwebjs_auth/session/Default/Site Characteristics Database/LOG.old
.wwebjs_auth/session/Default/Site Characteristics Database/LOG
.wwebjs_auth/session/Default/shared_proto_db/metadata/LOG.old
.wwebjs_auth/session/Default/shared_proto_db/metadata/LOG
.wwebjs_auth/session/Default/shared_proto_db/metadata/000003.log
.wwebjs_auth/session/Default/shared_proto_db/LOG.old
.wwebjs_auth/session/Default/shared_proto_db/LOG
.wwebjs_auth/session/Default/shared_proto_db/000003.log
.wwebjs_auth/session/Default/Shared Dictionary/cache/index-dir/the-real-index
.wwebjs_auth/session/Default/Sessions/Tabs_13376603799424378
.wwebjs_auth/session/Default/Sessions/Tabs_13376603777073410
.wwebjs_auth/session/Default/Sessions/Tabs_13376152613657545
.wwebjs_auth/session/Default/Sessions/Tabs_13376152599848117
.wwebjs_auth/session/Default/Session Storage/LOG.old
.wwebjs_auth/session/Default/Session Storage/LOG
.wwebjs_auth/session/Default/Session Storage/000003.log
.wwebjs_auth/session/Default/Service Worker/ScriptCache/index-dir/the-real-index
.wwebjs_auth/session/Default/Service Worker/ScriptCache/fa813c9ad67834ac_1
.wwebjs_auth/session/Default/Service Worker/ScriptCache/fa813c9ad67834ac_0
.wwebjs_auth/session/Default/Service Worker/ScriptCache/f1cdccba37924bda_1
.wwebjs_auth/session/Default/Service Worker/ScriptCache/f1cdccba37924bda_0
.wwebjs_auth/session/Default/Service Worker/ScriptCache/ba23d8ecda68de77_1
.wwebjs_auth/session/Default/Service Worker/ScriptCache/ba23d8ecda68de77_0
.wwebjs_auth/session/Default/Service Worker/ScriptCache/67a473248953641b_1
.wwebjs_auth/session/Default/Service Worker/ScriptCache/67a473248953641b_0
.wwebjs_auth/session/Default/Service Worker/Database/LOG.old
.wwebjs_auth/session/Default/Service Worker/Database/LOG
.wwebjs_auth/session/Default/Service Worker/Database/000003.log
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/index.txt
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/e822a3bf-ad71-47e3-960d-f5f982fe3b87/index-dir/the-real-index
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/e822a3bf-ad71-47e3-960d-f5f982fe3b87/index
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/c28fee86-fb9b-4638-bea9-dd726d13af08/index-dir/the-real-index
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/c28fee86-fb9b-4638-bea9-dd726d13af08/index
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/c28fee86-fb9b-4638-bea9-dd726d13af08/92172a9e586cee2a_0
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/c28fee86-fb9b-4638-bea9-dd726d13af08/2a2b7cbbc61290b4_0
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/4aee0002-2861-4c93-91f8-8a0cdc3fc12d/index-dir/the-real-index
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/4aee0002-2861-4c93-91f8-8a0cdc3fc12d/index
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/48bd951d-b96d-4554-b1e0-7d9cff5c73e6/index-dir/the-real-index
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/48bd951d-b96d-4554-b1e0-7d9cff5c73e6/index
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/2dd594bb-a76a-495d-bbac-e82fff53902f/index-dir/the-real-index
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/2dd594bb-a76a-495d-bbac-e82fff53902f/index
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/2dd594bb-a76a-495d-bbac-e82fff53902f/e6039a61e4d2a504_0
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/2dd594bb-a76a-495d-bbac-e82fff53902f/92172a9e586cee2a_0
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/2dd594bb-a76a-495d-bbac-e82fff53902f/6ea66fa5b36b4157_0
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/2dd594bb-a76a-495d-bbac-e82fff53902f/2a2b7cbbc61290b4_0
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/2c05302b-cd34-4416-a4f6-537790485416/index-dir/the-real-index
.wwebjs_auth/session/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/2c05302b-cd34-4416-a4f6-537790485416/index
.wwebjs_auth/session/Default/Preferences
.wwebjs_auth/session/Default/Network/TransportSecurity
.wwebjs_auth/session/Default/Network/Cookies
.wwebjs_auth/session/Default/Network Action Predictor
.wwebjs_auth/session/Default/Local Storage/leveldb/LOG.old
.wwebjs_auth/session/Default/Local Storage/leveldb/LOG
.wwebjs_auth/session/Default/Local Storage/leveldb/000003.log
.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/MANIFEST-000001
.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/LOG.old
.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/LOG
.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000214.ldb
.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000212.log
.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000211.ldb
.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000182.ldb
.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000098.ldb
.wwebjs_auth/session/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000096.log
.wwebjs_auth/session/Default/History-journal
.wwebjs_auth/session/Default/Favicons-journal
.wwebjs_auth/session/Default/Extension State/LOG.old
.wwebjs_auth/session/Default/Extension State/LOG
.wwebjs_auth/session/Default/DIPS
.wwebjs_auth/session/Default/Code Cache/wasm/index-dir/the-real-index
.wwebjs_auth/session/Default/Code Cache/js/index-dir/the-real-index
.wwebjs_auth/session/Default/Code Cache/js/f75573b8ac386d8a_0
.wwebjs_auth/session/Default/Code Cache/js/f6ad4898a38b4b57_0
.wwebjs_auth/session/Default/Code Cache/js/e9d469b0f1c0efae_0
.wwebjs_auth/session/Default/Code Cache/js/e92dd51f0c05394c_0
.wwebjs_auth/session/Default/Code Cache/js/e3cc429026d7770a_0
.wwebjs_auth/session/Default/Code Cache/js/e1877a3a78922608_0
.wwebjs_auth/session/Default/Code Cache/js/de707d147d548d58_0
.wwebjs_auth/session/Default/Code Cache/js/db642e2d17f2fce2_0
.wwebjs_auth/session/Default/Code Cache/js/d8851053291bae27_0
.wwebjs_auth/session/Default/Code Cache/js/d7c1ba9d2251df18_0
.wwebjs_auth/session/Default/Code Cache/js/d2c45f07f3659517_0
.wwebjs_auth/session/Default/Code Cache/js/cf4aa8a43783edf2_0
.wwebjs_auth/session/Default/Code Cache/js/ccc5e339bdfdec31_0
.wwebjs_auth/session/Default/Code Cache/js/bb8a8d2c226db59d_0
.wwebjs_auth/session/Default/Code Cache/js/b7fc6962b8061fe8_0
.wwebjs_auth/session/Default/Code Cache/js/b14f82eade62e94b_0
.wwebjs_auth/session/Default/Code Cache/js/b1297d4bc9608aad_0
.wwebjs_auth/session/Default/Code Cache/js/b04bcfc8158e4a5c_0
.wwebjs_auth/session/Default/Code Cache/js/acd390fd8ce6eb55_0
.wwebjs_auth/session/Default/Code Cache/js/ab8604cd66211f4f_0
.wwebjs_auth/session/Default/Code Cache/js/a59abd8c8576c8e1_0
.wwebjs_auth/session/Default/Code Cache/js/a21c958b007bf498_0
.wwebjs_auth/session/Default/Code Cache/js/9c265d957442bae3_0
.wwebjs_auth/session/Default/Code Cache/js/9c07bda3d736f9c3_0
.wwebjs_auth/session/Default/Code Cache/js/9469e2c87613a165_0
.wwebjs_auth/session/Default/Code Cache/js/84ea7edb0131262d_0
.wwebjs_auth/session/Default/Code Cache/js/84063144e564ab4a_0
.wwebjs_auth/session/Default/Code Cache/js/8084c9a56a6eafd3_0
.wwebjs_auth/session/Default/Code Cache/js/71a934f866e3ae7b_0
.wwebjs_auth/session/Default/Code Cache/js/5cb1c8961480c5fc_0
.wwebjs_auth/session/Default/Code Cache/js/546333d3b6995f5f_0
.wwebjs_auth/session/Default/Code Cache/js/4c0cda9a91ecec63_0
.wwebjs_auth/session/Default/Code Cache/js/4bb214c0f75375b1_0
.wwebjs_auth/session/Default/Code Cache/js/3ce8dc429ff6c2ae_0
.wwebjs_auth/session/Default/Code Cache/js/37b9c1e5e6c9bdc2_0
.wwebjs_auth/session/Default/Code Cache/js/34fa06212fd1f6b1_0
.wwebjs_auth/session/Default/Code Cache/js/1eb89ad150a23349_0
.wwebjs_auth/session/Default/Code Cache/js/17b0dbea09f38614_0
.wwebjs_auth/session/Default/Code Cache/js/126d37fde7428fdc_0
.wwebjs_auth/session/Default/Code Cache/js/0fcb508f74e69fc5_0
.wwebjs_auth/session/Default/Code Cache/js/0bb33024e2365432_0
.wwebjs_auth/session/Default/Code Cache/js/04ffd56829b7c827_0
.wwebjs_auth/session/Default/Cache/Cache_Data/f_000077
.wwebjs_auth/session/Default/Cache/Cache_Data/f_000076
.wwebjs_auth/session/Default/Cache/Cache_Data/f_000075
.wwebjs_auth/session/Default/Cache/Cache_Data/f_000074
.wwebjs_auth/session/Default/Cache/Cache_Data/f_000073
.wwebjs_auth/session/Default/Cache/Cache_Data/f_000072
.wwebjs_auth/session/Default/Cache/Cache_Data/f_000071
.wwebjs_auth/session/Default/Cache/Cache_Data/f_000070
.wwebjs_auth/session/Default/Cache/Cache_Data/f_00006f
.wwebjs_auth/session/Default/Cache/Cache_Data/f_00006e
.wwebjs_auth/session/Default/Cache/Cache_Data/f_00006d
.wwebjs_auth/session/Default/Cache/Cache_Data/f_00006c
.wwebjs_auth/session/Default/Cache/Cache_Data/f_00006b
.wwebjs_auth/session/Default/Cache/Cache_Data/f_00006a
.wwebjs_auth/session/Default/Cache/Cache_Data/f_000069
.wwebjs_auth/session/Default/Cache/Cache_Data/f_000068
.wwebjs_auth/session/Default/Cache/Cache_Data/f_000067
.wwebjs_auth/session/Default/Cache/Cache_Data/f_000066
.wwebjs_auth/session/Default/Cache/Cache_Data/f_000065
.wwebjs_auth/session/Default/Cache/Cache_Data/f_000064
.wwebjs_auth/session/Default/Cache/Cache_Data/f_000063
.wwebjs_auth/session/Default/Cache/Cache_Data/f_000062
.wwebjs_auth/session/Default/Cache/Cache_Data/f_000061
.wwebjs_auth/session/Default/Cache/Cache_Data/f_000060
.wwebjs_auth/session/Default/Cache/Cache_Data/f_00005f
.wwebjs_auth/session/Default/Cache/Cache_Data/f_00005e
.wwebjs_auth/session/Default/Cache/Cache_Data/f_00005d
.wwebjs_auth/session/Default/Cache/Cache_Data/f_00005c
.wwebjs_auth/session/Default/Cache/Cache_Data/data_3
.wwebjs_auth/session/Default/Cache/Cache_Data/data_2
.wwebjs_auth/session/Default/Cache/Cache_Data/data_1
.wwebjs_auth/session/Default/Cache/Cache_Data/data_0
.wwebjs_auth/session/CrashpadMetrics.pma
.wwebjs_auth/session/CrashpadMetrics-active.pma
.wwebjs_auth/session/BrowserMetrics/BrowserMetrics-673E3594-EE8.pma
.wwebjs_auth/session/BrowserMetrics/BrowserMetrics-673E357E-DF8.pma
.wwebjs_auth/session/BrowserMetrics/BrowserMetrics-673E353C-3D74.pma
.wwebjs_auth/session/BrowserMetrics-spare.pma
backend/Nodo/controladoresNodo/recorrerArbolLiryc.mjs
backend/database/conexion.mjs
.wwebjs_auth/session/Variations
.wwebjs_auth/session/segmentation_platform/ukm_db-journal
.wwebjs_auth/session/segmentation_platform/ukm_db
